* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid div {
    background-color: #667c89;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.one::before {
    content: "Element 1";
}
.two::before {
    content: "Element 2";
}
.three::before {
    content: "Element 3";
}
.four::before {
    content: "Element 4";
}
.five::before {
    content: "Element 5";
}
.six::before {
    content: "Element 6";
}


