* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "ei ei ei" "two two thr" "for five five" "six five five" "sev five five" "one one one";
    gap: 20px;
    font-size: 20px;
}
.grid div {
    background-color: #4994ec;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: thr;
}
.four {
    grid-area: for;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: sev;
}
.eight {
    grid-area: ei;
}